


<div class="mat-elevation-z8 position">
<div><i class="fa fa-cubes" style="font-size:36px;margin-left: 10px;"></i></div>

<div class="tabela">

  <div class="input-group mb-3 search">
    <input [(ngModel)]="searchterm"  type="text" class="form-control fa" placeholder="&#xf002; Pretrazivanje" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
    </div>
  </div>
  <button (click)="showdodaj=!showdodaj" class="btn btn-light" style="background-color: darkgrey;color: darkblue">Dodaj</button>
  <div style="margin-top: 3px" *ngIf="showdodaj">
    <input [(ngModel)]="name" placeholder="ovdje unesite ime">
    <a  style="margin-left: 10px" (click)="addemployee()">snimi  <i class="fa fa-save"></i></a>
    <a  style="margin-left: 10px" (click)="showdodaj=!showdodaj">odbaci  <i class="fa fa-remove"></i></a>
  </div>

  <table class="table table-striped">

    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Uposlenik</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody *ngFor="let employee of employees | filter:searchterm ;let i=index " style="background-color: darkgrey;color: white">

    <tr *ngIf="showedit==false && employee.edit==false">
      <th scope="row">{{i+1}}</th>
      <td>{{employee.name}}</td>
      <td class="edit"><a  (click)="(showedit=!showedit)&&(employee.edit=true);showothers(i)">uredi <i class="fa fa-edit"></i></a></td>
      <td class="delete"><a  (click)="deleteemployee(employee.name)">izbriši <i class="fa fa-remove"></i></a></td>
    </tr>
    <tr *ngIf="showedit==true && employee.edit==true ">
      <th scope="row">{{employee.id}}</th>
      <td><input [(ngModel)]="editname" placeholder="{{employee.name}}"></td>
      <td class="edit"><a  (click)="edit(i)">snimi<i class="fa fa-sign-in"></i></a></td>
      <td class="delete"><a  (click)="showedit=false">odbaci<i class="fa fa-remove"></i></a></td>
    </tr>

    </tbody>
  </table>
</div>
  <h6 style="margin-left: 10px;margin-bottom:5px;border-top:1px solid darkgrey;">Broj zaposlenih:  {{employees.length}}</h6>
</div>
